<main class="container mt-5 mb-3">
  {{!-- barra superior que nos dice las rutas y nos regresa la home --}}
  <h1>Shopping Cart</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <LinkTo @route="index">
        Home
      </LinkTo>
    </li>
    <li class="breadcrumb-item">Shopping Cart</li>
  </ol>
  {{!-- tiene el diseño de todos los items del carrito asi como el boton de eliminar
  tambien los botones de aumentar o disminuir la cantidad de items --}}
   {{#each this.Items as |item|}}
    <div class="cart-item d-flex align-items-center border border-dark redondo">
      {{!-- boton de eliminar --}}
        <i id="Delete-{{item.name}}-{{item.color}}" class="DeleteItem fa fa-trash-o" aria-hidden="true" {{on "click" (fn this.removeFromCart item)}}></i>
      <div class="cart-item-thumbnail">
        {{!-- imagen del articulo --}}
        <img class="img-fluid" src={{item.image}} alt="">
      </div>
      {{!-- nombre precio y categoria se muestra --}}
      <div class="ml-3 p-3">
        <h4 class="fs-1 fw-bold">{{item.name}}</h4>
        <i class="font-weight-bold">{{currency item.price}}</i><br>
        {{!--<i class="font-weight-bold">{{item.category}}</i>--}}
      </div>
      {{!-- la cantidad de productos que lleva del item --}}
    <input id="input-{{item.name}}-{{item.color}}"
      type="number"
      class="ml-auto form-control input-cart m-1"
      value={{item.count}}
      readonly
    >
    {{!-- botones de sumar y restar productos --}}
    <h5><i class="fa fa-plus ItemCount m-1" {{on "click" (fn this.ItemCount item)}}></i></h5>
    <h5><i class="fa fa-minus ItemCountless m-1" {{on "click" (fn this.ItemCountless item)}} aria-hidden="true"></i></h5>
    </div>
  {{/each}}
  
 {{!-- seccion del subtotal y total a pagar --}}
  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <span class="col">Subtotal</span>
    <span class="col">{{currency this.subtotal}}</span>
    </div>
    <div class="row">
      <span class="col">Impuesto</span>
      <span class="col">{{currency this.tax}}</span>
    </div>
    <div class="row">
      <span class="col">Total</span>
      <span class="col">{{currency this.total}}</span>
    </div>
  </section>

  {{!-- boton de facturacion y se muestra solo si hay items en el carrito --}}
    {{#if this.Items}}
      <LinkTo @route="payment" >
      <button type="button" class="btn btn-success float-right">
          Check out
        </button>
      </LinkTo>
      {{/if}}
  <br><br>
</main>