<GeneralContainer >
  <center class="MargenTelefono">
    <div class="input-group input-group-md mb-3" style="width: 90%;">
      <div class="input-group-prepend">
        {{!-- boton de buscar para hacer flitros por nombre --}}
        <button id="button" class="btn btn-outline-secondary" style="width: 50px;" type="button" {{on "input" this.ComboBox}}><i class="fa fa-search"></i></button>
      </div>
      {{!-- aqui ingresamos el nombre del producto que buscamos --}}
        <input name="search"  id="search" type="text" class="form-control input-search" placeholder="Search" aria-describedby="basic-addon1" {{on "input" this.ComboBox}}>
      {{!-- seleccion de la categoria para filtrar los productos --}}
      <div class="input-group-append">
        <select class="form-select form-select-sm Categoria" id="category" {{on "input" this.ComboBox}} {{on "change" this.pagCate}}>
          <option selected="" value="0">Categoria</option>
          <option value="1">Todas las Categorias</option>
          <option value="electronic">Electronica</option>
          <option value="shoes">Zapatos</option>
          <option value="memory">Memorias</option>
          <option value="Teclados">Teclados</option>
        </select>
      </div>
    </div>

  </center>
<div class="" {{on "mousemove" this.cargar}} {{on "touchmove" this.cargar}}>
  {{!-- muestra los productos de la lista --}}
      {{#each this.Product as |product|}}
          <Product @product={{product}} />
      {{/each}}
</div>
<ul class="pagination pagination-md" id="meterhtml">
  <li class="page-item mouse " id="pagepre"><a class="page-link" >Previous</a></li>
  <li class="page-item mouse d-none" id="page1"><a class="page-link" {{on "click" this.pag1}}>1</a></li>
  <li class="page-item mouse d-none" id="page2"><a class="page-link" {{on "click" this.pag2}}>2</a></li>
  <li class="page-item mouse d-none" id="page3"><a class="page-link" {{on "click" this.pag3}}>3</a></li>
  <li class="page-item mouse d-none" id="page4"><a class="page-link" {{on "click" this.pag4}}>4</a></li>
  <li class="page-item mouse " id="pageNext"><a class="page-link ">Next</a></li>
</ul>
  
</GeneralContainer>