<div class="product-details">
  {{!-- Header --}}
  <section class="Size-text">
    {{!-- mostramos las estrellas como iconos --}}
    <h3 class="Size-text">{{@name}}</h3>
    <div class="text-warning">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
    {{!-- <h4>{{@category}}</h4>--}}
  </section>
  {{!-- Price --}}
  {{!-- esta seccion utiliza los elementos del 
    item.hbs y el helper unless--}}
    <section class={{unless @isDetails 'h3'}}>
      {{#if @price.original}}  
        <del data-test-original-price class="small text-black-50 Size-text">{{currency @price.original}}</del>
        <i data-test-current-price class="text-danger font-weight-bold Size-text">{{currency @price.current}}</i>
      {{else}}
        <i data-test-current-price class="text-danger font-weight-bold Size-text">{{currency @price.current}}</i>
      {{/if}}

    </section>
 
  {{#if @isDetails}}
    <div class="d-flex justify-content-between align-items-end">
      <div class="Size-text">
        <h3 class="Size-text">Color</h3>
        {{!-- genera las acciones en los span para cambiar el color --}}
        <div class="product-colors active-{{@color}}">
          {{!-- usamos un each para listar los colores y por medio
          de colors traemos la informacion del selccionado --}}
          {{#each @colors as |colorInfo|}}
            {{!-- concat es un helper para concatenar cadenas --}}
            <span data-test-color  class="product-color {{concat 'color-' colorInfo.color}}"
              {{on "click" (fn @onChangeColor colorInfo.color)}} ></span>
          {{/each}}
        </div>
      </div>
      {{!-- boton con evento para agregar el producto al carrito --}}
     <button
        data-test-add-to-cart
        class="btn btn-info CartBt" type="button" {{on "click" this.addToCart}}>
        <i class="fa fa-shopping-cart mr-1"></i>
        Add to cart
      </button>
    </div>
  {{/if}}
</div>
